.wp-block-button > .wp-block-button__link:not(.has-text-color, .has-background, .has-border-color):hover {
	background-color: var(--wp--preset--color--contrast-2, transparent);
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--contrast-2, currentColor);
}

.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color, .has-background, .has-border-color):hover {
	background-color: var(--wp--preset--color--contrast, transparent);
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--contrast, currentColor);
}
