.wp-block-comment-template ol {
	padding-left: min( 2.75rem, 7.2vw );
}

.is-style-pulitzer-comment-edit-link a,
.is-style-pulitzer-comment-reply-link a {
	border: 1px solid var( --wp--preset--color--contrast-4 );
	border-radius: 4px;
	display: inline-flex;
	padding: .33em .5em;
	transition: all .1s linear;
}

:root .is-style-pulitzer-comment-edit-link a:hover,
:root .is-style-pulitzer-comment-reply-link a:hover {
	background-color: var( --wp--preset--color--contrast-4 );
	color: var( --wp--preset--color--contrast );
	text-decoration: none;
}

.wp-block-comment-content > *:first-child { margin-top: 0; }
.wp-block-comment-content > *:last-child { margin-bottom: 0; }